* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

.top_menu {
    position: fixed;
    top: 3rem;
    right: 0;
    display: flex;
}

.top_menu .speaker_view {
    padding: 0.3rem;
    margin-right: 0.3rem;
    border-radius: 0.3rem;
    background-color: #4A4A4A;
}

.top_menu .speaker_view:hover {
    cursor: pointer;
}

.top_menu .full_screen {
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: #4A4A4A;
}

.top_menu .full_screen:hover {
    cursor: pointer;
}







.bottom_menu {
    height: 4.7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #222222;
}

.bottom_menu i {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_menu {
    flex: 0 0 max-content;
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.left_menu_icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left_menu_icon:hover {
    cursor: pointer;
}

.center_menu {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.center_menu_icon {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.center_menu_icon:hover {
    cursor: pointer;
}

.rigth_menu {
    height: 100%;
    padding-inline: 1rem;
    flex: 0 0 max-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #4A4A4A;
    color: red;
}

.rigth_menu:hover {
    cursor: pointer;
}